git+https://github.com/MxAboli/Telethon
tgcrypto
yt_dlp
moviepy
Pillow
psutil
heroku3
ffmpeg-python
speedtest-cli
youtube-search-python
requests
bs4
aiohttp
aiofiles
redis
pytz
html_telegraph_poster
pytgcalls==3.0.0.dev21
