https://github.com/New-dev0/Telethon/archive/PlayTime.zip
tgcrypto
moviepy
Pillow
psutil
heroku3
ffmpeg-python
speedtest-cli
youtube-search-python
youtube_dl
requests
bs4
aiohttp
aiofiles
redis
pytz
html_telegraph_poster
pytgcalls==3.0.0.dev21
