telethon
tgcrypto
moviepy
ffmpeg
ffmpeg-python
opencv-python
cowpy
opencv-python-headless
Pillow
psutil
aiofiles
requests
selenium
heroku3
speedtest-cli
youtube-search-python
youtube_dl
deep_translator
requests
aiohttp
apscheduler
cairosvg
cloudscraper
colour
covid
dataclasses
DateTime
emoji
fonttools
geopy
gitpython
glitch_this
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googletrans==4.0.0-rc1
gtts
hachoir
html-telegraph-poster
humanize
IMDbPY
jikanpy
justwatch
lottie
lyricsgenius
markdown
motor
nekos.py
prettytable
psycopg2
pyfiglet
PyGithub
pygments
pylast
pymediainfo
PyMuPDF
pySmartDL
python-barcode
python-dotenv
pytz
qrcode
randomstuff.py
regex
search-engine-parser
setuptools==47.1.1
ShazamAPI
spamwatch
sqlalchemy-json
sqlalchemy==1.3.23
telegraph
ujson
urlextract
validators
vcsi
wand
wget
git+https://github.com/goldsmith/Wikipedia
pytgcalls==3.0.0.dev21
